.wrapper {
	width: 1180px;
	margin: 0 auto;
}
/*========== HEADER ================*/
.header {
	margin: 0 auto;
	border-top: 3px solid #98b827;
}
/*---------- header-login ----------*/
.header-login {
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.language-block {
	display: flex;
	/*----view----*/
	font-family: "MuseoSans-500";
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
}
.block-item {
	display: flex;
}
.block-item:not(:last-child) {
	margin-right: 48px;
}
.block-item *:not(:last-child) {
	margin-right: 4px;
}
.item__label {
	color: #797979;
}
.block-link {
	display: flex;
}
.item__total {
	color: #98b827;
}
.arrow-down {
	display: block;
	color: #797979;
	font-family: "FontAwesome";
	font-size: 18px;
	/*content: '\f105';*/
}
/*---------------*/
.header-login {}
.login-list {
	display: flex;
}
.login__item {
	color: #797979;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	color: #797979;
}
.login__item:not(:last-child) {
	margin-right: 12px;
}
.login__item:not(:last-child) a {
	margin-right: 12px;
}
.login__item:not(:last-child):after {
	content: '|';
}
.login__link:hover {
	color: #98b827;
}
/*---------- section header-logo ----------*/
.header-logo {
	height: 130px;
	border-top: 1px solid #cccccc;
	background-image: 
		linear-gradient(to top, rgba(255,255,255,0.3), rgba(255,255,255,0.3)),
		url(../img/background.png);	
}
.header-logo-block {
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: space-between;	
}
.header-logo__link {
	display: block;
	width: 315px;
	height: 55px;
}
.header-logo-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo-text__desc {
	text-align: right;
	color: #1e1e20;
	font-family: 'Ageone', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}
.logo-text__title span {
	color: #1e1e20;
	font-family: 'Ageone', sans-serif;
	font-size: 44px;
	font-weight: 400;
}
.logo-text__title span.color-green {
	color: #9ab920;
}
/*---------- header-logo-search ----------*/
.header-logo-search {
	display: flex;
}
.search-block {
	display: flex;
	position: relative;
	margin-right: 5px;
}
.search-block__text {
	padding-left: 11px;
	padding-right: 51px;
	width: 250px;
	height: 40px;
	border: 1px solid #cfcfcf;
	border-radius: 7px;
	background-color: #ffffff;
}
.search-block__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	position: absolute;
	right: 0;
	background: url(../img/searchIcon.png) no-repeat center 7px;
}
.social-btn {
	width: 40px;
	height: 40px;
	background-color: #cfcfcf;
	border-radius: 7px;
}
.search-ico {
	position: absolute;
	right: 0;
	z-index: 1;
}
.search-social-list {
	display: flex;
}
.search-social__item:not(:last-child) {
	margin-right: 5px;
}
.search-social__link {
	display: flex;
	align-items: center;
	justify-content: center;
}
/*-- section  header-navigation ----------*/
.header-navigation-row {
	height: 149px;
	background-image: 
		linear-gradient(to top, rgba(255,255,255,0.3), rgba(255,255,255,0.3)),
		url(../img/background.png);	
}
.header-navigation {
	height: 86px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/*.header-navigation >*/
.hr {
	/*z-index: 2;*/
	height: 7px;
	background:  url(../img/hr.png) repeat-x;
}
.navigation-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navigation-list {
	display: flex;
}
.navigation__item:not(:last-child) {
	margin-right: 38px;
}
.navigation__item {
	color: #000000;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
}
.navigation__item a:hover, a.active {
	color: #9ab920;	
} 
.cart-btn {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	/*----view----*/
	width: 120px;
	height: 50px;
	border-radius: 7px;
	border: 1px solid #7a9a0b;
	background-color: #98b827;
}
/*---------- cart ----------*/
.cart-text {
	display: flex;
	/*----view----*/
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	color: #ffffff;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
.cart__total {margin-right: 4px;}
/*========== MAIN ==================*/
.main {
	background-image: 
		linear-gradient(to top, rgba(255,255,255,0.3), rgba(255,255,255,0.3)),
		url(../img/background.png);	
}
/*---------- section slider ----------*/
.banner-slider {
	height: 420px;
	width: 1600px;
	display: flex;
	margin: 0 auto;
}
.slider-main {
	display: inline-block;
	height: 100%;
	border-left: 1px solid #f6f6f6;
	border-right: 1px solid #f6f6f6;
	position: relative;
}
.slider-side {
	height: 100%;
	display: inline-block;
	width: 300px;
	overflow: hidden;
	position: relative;
}
.left .slider-side-img {
	position: absolute;
	top: 0;
	right: 0;
}
.right .slider-side-img {
	position: absolute;
	top: 0;
	left: 0;
}
/*---------- arrow-slider ----------*/
.arrow-slider {
	right: 69px;
	top: 50%;
	transform: translate(0,-50%);
	position: absolute;
	width: 76px;
	height: 76px;
	border-radius: 50%;
	border: 3px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(30, 30, 32, 0.7);
	color: red;
	display: flex;
	align-items: center;
	justify-content: center;
}
.forward {
	left: 69px;
	transform: scale(-1) translateY(50%);
}
/*---------- slider-text ----------*/
.slider-text {
	position: absolute;
	top: 48px;
	left: 51px;
}
.slider-text *:not(:last-child) {
	margin-bottom: 32px;
}	
.slider__title {
	color: #eaeaea;
	font-family: 'Oswald', sans-serif;
	font-size: 48px;
	font-weight: 300;
	text-transform: uppercase;
}
.slider__desc {
	width: 300px;
	color: #ffffff;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.slider__link {
	color: #98b827;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 18px;
	font-weight: 400;
}
.visit {
	height: 200px;
	width: 600px;
	position: absolute;
}