.btn--green {
	display: flex;
	align-items: center;
	justify-content: space-evenly;	
	border: 1px solid #7a9a0b;
	border-radius: 7px;
	background-image: linear-gradient(45deg, #98b827 0%, #a3c330 50%, #98b827 100%);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	color: #ffffff;
}
.wrapper {
	width: 1180px;
	margin: 0 auto;
}
/*========== HEADER ================*/
.header {
	margin: 0 auto;
	border-top: 3px solid #98b827;
}
/*---------- header-login ----------*/
.header-login {
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.language-block {
	display: flex;
	/*----view----*/
	font-family: "MuseoSans-500";
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
}
.block-item {
	display: flex;
}
.block-item:not(:last-child) {
	margin-right: 48px;
}
.block-item *:not(:last-child) {
	margin-right: 4px;
}
.item__label {
	color: #797979;
}
.block-link {
	display: flex;
}
.item__total {
	color: #98b827;
}
.arrow-down {
	display: block;
	color: #797979;
	font-family: "FontAwesome";
	font-size: 18px;
}
/*---------------*/
.header-login {}
.login-list {
	display: flex;
}
.login__item {
	color: #797979;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	color: #797979;
}
.login__item:not(:last-child) {
	margin-right: 12px;
}
.login__item:not(:last-child) a {
	margin-right: 12px;
}
.login__item:not(:last-child):after {
	content: '|';
}
.login__link:hover {
	color: #98b827;
}
/*---------- section header-logo ----------*/
.header-logo {
	height: 130px;
	border-top: 1px solid #cccccc;
	background-image: 
		linear-gradient(to top, rgba(255,255,255,0.3), rgba(255,255,255,0.3)),
		url(../img/background.png);	
}
.header-logo-block {
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: space-between;	
}
.header-logo__link {
	float: left;
	display: block;
	width: 315px;
	height: 55px;
}
.header-logo-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo-text__desc {
	text-align: right;
	color: #1e1e20;
	font-family: 'Ageone', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}
.logo-text__title span {
	color: #1e1e20;
	font-family: 'Ageone', sans-serif;
	font-size: 44px;
	font-weight: 400;
}
.logo-text__title span.color-green {
	color: #9ab920;
}
/*---------- header-logo-search ----------*/
.header-logo-search {
	display: flex;
}
.search-block {
	display: flex;
	position: relative;
	margin-right: 5px;
}
.search-block__text {
	padding-left: 11px;
	padding-right: 51px;
	width: 250px;
	height: 40px;
	border: 1px solid #cfcfcf;
	border-radius: 7px;
	background-color: #ffffff;
}
.search-block__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	position: absolute;
	right: 0;
	background: url(../img/searchIcon.png) no-repeat center 7px;
}
.social-btn {
	width: 40px;
	height: 40px;
	background-color: #cfcfcf;
	border-radius: 7px;
}
.search-ico {
	position: absolute;
	right: 0;
	z-index: 1;
}
.search-social-list {
	display: flex;
}
.search-social__item:not(:last-child) {
	margin-right: 5px;
}
.search-social__link {
	display: flex;
	align-items: center;
	justify-content: center;
}
/*-- section  header-navigation ----------*/
.header-navigation-row {
	height: 149px;
	background-image: 
		linear-gradient(to top, rgba(255,255,255,0.3), rgba(255,255,255,0.3)),
		url(../img/background.png);	
}
.header-navigation {
	height: 86px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.hr {
	height: 7px;
	background:  url(../img/hr.png) repeat-x;
}
.navigation-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navigation-list {
	display: flex;
}
.navigation__item:not(:last-child) {
	margin-right: 38px;
}
.navigation__item {
	color: #000000;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
}
.navigation__item a:hover, a.active {
	color: #9ab920;	
} 
.cart-btn {
	width: 120px;
	height: 50px;
}
/*---------- cart ----------*/
.cart-text {
	display: flex;
	/*----view----*/
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	color: #ffffff;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
.cart__total {margin-right: 4px;}
/*========== MAIN ==================*/
.main {
	background-image: 
		linear-gradient(to top, rgba(255,255,255,0.3), rgba(255,255,255,0.3)),
		url(../img/background.png);	
	padding-bottom: 80px;
}
/*---------- section slider ----------*/
.banner-slider {
	height: 420px;
	width: 1600px;
	display: flex;
	margin: 0 auto;
}
.slider-main {
	display: inline-block;
	height: 100%;
	border-left: 1px solid #f6f6f6;
	border-right: 1px solid #f6f6f6;
	position: relative;
}
.slider-side {
	height: 100%;
	display: inline-block;
	width: 300px;
	overflow: hidden;
	position: relative;
}
.left .slider-side-img {
	position: absolute;
	top: 0;
	right: 0;
}
.right .slider-side-img {
	position: absolute;
	top: 0;
	left: 0;
}
/*---------- arrow-slider ----------*/
.arrow-slider {
	right: 69px;
	top: 50%;
	transform: translate(0,-50%);
	position: absolute;
	width: 76px;
	height: 76px;
	border-radius: 50%;
	border: 3px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(30, 30, 32, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
}
.forward {
	left: 69px;
	transform: scale(-1) translateY(50%);
}
/*---------- slider-text ----------*/
.slider-text {
	position: absolute;
	top: 48px;
	left: 51px;
}
.slider-text *:not(:last-child) {
	margin-bottom: 32px;
}	
.slider__title {
	color: #eaeaea;
	font-family: 'Oswald', sans-serif;
	font-size: 48px;
	font-weight: 300;
	text-transform: uppercase;
}
.slider__desc {
	width: 300px;
	color: #ffffff;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.slider__link {
	color: #98b827;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 18px;
	font-weight: 400;
}
/*---------- section visi ----------*/
.visit {
	width: 1180px;
	height: 80px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 22px;
	margin-bottom: 50px;
}
.visit-text {
	color: #1c1c1c;
	font-family: 'Oswald', sans-serif;
	font-size: 44px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
.visit-text span {
	font-weight: 400;	
}
.visit-btn {
	min-width: 160px;
	height: 50px;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	/*padding: 0 px;*/
}
/*---------- section recent ----------*/
.recent {
	height: 475px;
	margin-bottom: 70px;
}
.block-title {
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 28px;
}
.title__text {
	color: #1e1e20;
	font-family: "MuseoSans-700", sans-serif;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
}
.recent .hr {
	flex: 1;
	margin: 0 8px;
}
.control-product {
	width: 50px;
	height: 23px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.product-arrow {
	width: 23px;
	height: 23px;
	/*----view----*/
	font-family: "FontAwesome";
	color: #ffffff;
	font-size: 9px;
}
/*---------- product-block ----------*/
.product-block {
	display: flex;
	justify-content: space-between;
}
.product-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	border-radius: 5px;
	width: 280px;
	height: 420px;
	background-color: #ffffff;
	/*----view----*/
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
	border: 1px solid #efefef;
}
.product-price-add {
	height: 55px;
	border-bottom: 1px solid #cccccc;
	padding: 0 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.price__current {
	color: #000000;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 18px;
	font-weight: 400;
}
.add-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 31px;
	border-radius: 5px;
	border: 1px solid #807e7e;
	background-image: linear-gradient(45deg, #828282 0%, #8b8b8b 50%, #828282 100%);
	/*----view----*/
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	color: #ffffff;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
}
.product-text {
	height: 133px;
	border-bottom: 1px solid #cccccc;
	padding: 18px 15px 0;
}
.product__title {
	color: #282828;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 10px;
}
.product__desc {
	color: #808080;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 23.98px;
}
.liew-block {
	height: 52px;
	padding: 0 18px;
	display: flex;
	align-items: center;
}
.liew__link {
	color: #98b827;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 23.98px;
}
.liew__link span {
	font-family: "FontAwesome";
}
.sale-label {
	position: absolute;
	width: 57px;
	height: 57px;
	border-radius: 50%;
	background-color: #98b827;
	top: 10px;
	left: 10px;
	display: none;
	/*----view----*/
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	color: #ffffff;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
.product-item.sale .sale-label {
	display: flex;
	align-items: center;
	justify-content: center;
}
/*---------- section featured ----------*/
.featured {
	height: 475px;
	margin-bottom: 70px;
}
.featured .hr {
	flex: 1;
	margin: 0 8px;
}
/*---------- section brands ----------*/
.brands {
	height: 132px;
	margin-bottom: 60px;
}
.brands .hr {
	flex: 1;
	margin-left: 8px;
}
.brands-block {
	height: 100%;
	display: flex;
}
.brands-item {
	height: 100%;
	width: 237px;
	border: 1px solid #dedede;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
}
.brands-item:not(:last-child) {
	border-right: none;
}
/*========== FOOTER ================*/
/*---------- section footer-control ----------*/
.footer {
	padding-top: 47px;
	border-top: 1px solid #dddddd;
}
.footer-control {
	display: flex;
	justify-content: space-between;
}
.logo-social {
	width: 239px;
	display: flex;
	flex-direction: column;
	align-items: left
}
.scale {
	transform: scale(0.75);
  	transform-origin: 0 0;
	margin-bottom: 30px;
}
.footer-block__title {
	color: #1e1e20;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 20px;
}
/*---------- footer-recent ----------*/
.footer-recent {
	width: 270px;
}
.footer-block__title {}
.recent-item {
	display: flex;
	width: 265px;
	height: 70px;
	border-radius: 9px;
	border: 1px solid #dddddd;
	background-color: #ffffff;
	margin-bottom: 16px;
}
.recent__img {}
.recent-text {
	padding: 6px 14px;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-evenly;
}
.recent__title {
	color: #1e1e20;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.recent__desc {
	color: #1e1e20;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.recent__desc span {
	color: #98b827;
}
/*---------- footer-contact ----------*/
.footer-contacts {
	width: 173px;
	color: #1e1e20;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}
.footer-contacts-text *:not(:last-child) {
	margin-bottom: 20px;
}
/*---------- footer-people-say ----------*/
.footer-people-say {
	width: 330px;
	display: flex;
	flex-direction: column;
	padding-bottom: 38px;
}
.say-block {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.say-block:not(:last-child) {
	margin-bottom: 22px;
}
.say-block-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;	
}
.say__img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 3px solid #dddddd;
}
.say__name {
	color: #1e1e20;
	font-family: "MuseoSans-900", sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -0.14px;
}
.say-text {
	position: relative;
	width: 237px;
	height: 95px;
	padding: 13px 40px 0 13px;
	border-radius: 10px;
	border: 1px solid #dddddd;
	background-color: #f6f4f4;
}
.say__desc {
	color: #1e1e20;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.14px;
}
.say__quotes-ico {
	display: block;
	position: absolute;
	right: 10px;
	bottom: 10px;
}
/*---------- section footer-nav ----------*/
.footer-nav-row {
	height: 40px;
	border-top: 3px solid #98b827;
	background-color: #1b1b1b;
}
.footer-nav {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer-menu {
	display: flex;
}	
.footer-menu__item:not(:last-child) {
	margin-right: 13px;
}
.footer-menu__link	{
	color: #a6a6a6;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -0.11px;
}
.footer-menu__link:hover {
	color: #98b827;
}
.footer-copyright {
	color: #a6a6a6;
	font-family: "MuseoSans-500", sans-serif;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: -0.12px;
}