@import '_media.scss';
@import '_label_media.scss';

.wrapper {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	min-height: 100%;
	background-image: linear-gradient(to top, rgba(255,255,255,.3), rgba(255,255,255,.3)), url(../img/background.png);
}
.container {
	margin: 0 auto;
	padding: 0 20px;
	min-width: 900px;
	max-width: 1220px;
	width: 100%;
}
/*Кнопка вверх*/
#go-top {
	position: fixed;
	right: calc((100vw - 1180px) / 2 - 80px - 50px);
	bottom: 360px;
	display: none;
	padding-top: 5px;
	padding-left: 15px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}
#go-top img {
	display: block;
	transform: rotate(90deg);
}
.btn--green {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border: 1px solid #7a9a0b;
	border-radius: 7px;
	background-image: linear-gradient(45deg, #98b827 0%, #a3c330 50%, #98b827 100%);
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);

	color: #fff;
}
/*========== HEADER ================*/
.header {
	border-top: 3px solid #98b827;
}
/*---------- header-login ----------*/
.header-login-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.language-block {
	display: flex;
	flex: 0 1 500px;
	height: 28px;

	line-height: 14px;
	font-weight: 400;
	font-size: 14px;
	font-family: 'MuseoSans-500';

	@include mdf4_899 {
		flex: 0 1 400px;
	}
}
.block-item {
	display: flex;
	align-self: center;
	flex: 1 1 auto;
	* {
		padding: 0 2.5px;
	}
}
.item__label {
	color: #797979;
}
.block-link {
	display: flex;
}
.item__total {
	white-space: nowrap;

	color: #98b827;
}
.arrow-down {
	display: block;

	color: #797979;
	font-size: 18px;
	font-family: 'FontAwesome';
}
/*---------------*/
.header-login {
	display: flex;
	align-items: center;
	flex: 0 1 auto;
	height: 28px;
}
.login-list {
	display: flex;
}
.login__item {
	white-space: nowrap;

	color: #797979;
	line-height: 14px;
	font-weight: 400;
	font-size: 14px;
	font-family: 'MuseoSans-500', sans-serif;
}
.login__item:not(:last-child) {
	margin-right: 12px;
}
.login__item:not(:last-child) a {
	margin-right: 12px;
}
.login__item:not(:last-child):after {
	content: '|';
}
.login__link:hover {
	color: #98b827;
}
/*---------- section header-logo ----------*/
.header-logo-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 130px;
	border-top: 1px solid #ccc;

	@include mdf4_899 {
		height: 100px;
	}
}
.header-logo__link {
	display: block;
	width: 315px;
	height: 55px;
}
.header-logo-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo-text__desc {
	text-align: right;
	text-transform: uppercase;

	color: #1e1e20;
	font-weight: 400;
	font-size: 16px;
	font-family: 'Ageone', sans-serif;
}
.logo-text__title span {
	color: #1e1e20;
	font-weight: 400;
	font-size: 44px;
	font-family: 'Ageone', sans-serif;
}
.logo-text__title span.color-green {
	color: #9ab920;
}
/*---------- header-logo-search ----------*/
.header-logo-search {
	display: flex;
}
.search-block {
	position: relative;
	display: flex;
	margin-right: 5px;
}
.search-block__text {
	padding-right: 51px;
	padding-left: 11px;
	width: 250px;
	height: 40px;
	border: 1px solid #cfcfcf;
	border-radius: 7px;
	background-color: #fff;
}
.search-block__btn {
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background: url(../img/searchIcon.png) no-repeat center 7px;
}
.social-btn {
	width: 40px;
	height: 40px;
	border-radius: 7px;
	background-color: #cfcfcf;
}
.search-ico {
	position: absolute;
	right: 0;
	z-index: 1;
}
.search-social-list {
	display: flex;
}
.search-social__item:not(:last-child) {
	margin-right: 5px;
}
.search-social__link {
	display: flex;
	align-items: center;
	justify-content: center;
}
/*-- section  header-navigation ----------*/
.header-navigation-row {
	height: 149px;
	background-image: linear-gradient(to top, rgba(255,255,255,.3), rgba(255,255,255,.3)),
	url(../img/background.png);
}
.header-navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 86px;
}
.hr {
	height: 7px;
	background: url(../img/hr.png) repeat-x;
}
.navigation-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navigation-list {
	display: flex;
}
.navigation__item:not(:last-child) {
	margin-right: 38px;

	@include mdf3_1199 {
		margin-right: 20px;
	}
}
.navigation__item {
	text-transform: uppercase;

	color: #000;
	font-weight: 400;
	font-size: 18px;
	font-family: 'MuseoSans-500', sans-serif;
}
.navigation__item.active a , .navigation__item a:hover {
	color: #9ab920;
}
.cart-btn {
	width: 120px;
	height: 50px;
}
/*---------- cart ----------*/
.cart-text {
	display: flex;
	text-transform: uppercase;
	/*----view----*/
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);

	color: #fff;
	font-weight: 400;
	font-size: 14px;
	font-family: 'MuseoSans-500', sans-serif;
}
.cart__total {
	margin-right: 4px;
}
/*========== MAIN ==================*/
.main {
	padding-bottom: 80px;
	background-image: linear-gradient(to top, rgba(255,255,255,.3), rgba(255,255,255,.3)),
	url(../img/background.png);
}
/*---------- section slider ----------*/
.banner-slider {
	display: flex;
	height: 420px;
}
.slider-main {
	position: relative;
	z-index: 1;
	display: inline-block;
	height: 100%;
}
.slider-side {
	position: relative;
	z-index: 2;
	display: inline-block;
	overflow: hidden;
	width: 300px;
	height: 100%;
	border-right: 1px solid #f6f6f6;
}
.left .slider-side-img {
	position: absolute;
	top: 0;
	right: 0;
}
.right .slider-side-img {
	position: absolute;
	top: 0;
	left: 0;
	border-left: 1px solid #f6f6f6;
}
/*---------- arrow-slider ----------*/
.arrow-slider {
	position: absolute;
	top: 50%;
	right: 69px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 5px;
	width: 76px;
	height: 76px;
	border: 3px solid rgba(255, 255, 255, .2);
	border-radius: 50%;
	background-color: rgba(30, 30, 32, .7);
	transform: translate(0,-50%);
}
.forward {
	left: 69px;
	transform: scale(-1) translateY(50%);
}
/*---------- slider-text ----------*/
.slider-text {
	position: absolute;
	top: 48px;
	left: 51px;
}
.slider-text *:not(:last-child) {
	margin-bottom: 32px;
}
.slider__title {
	text-transform: uppercase;

	color: #eaeaea;
	font-weight: 300;
	font-size: 48px;
	font-family: 'Oswald', sans-serif;
}
.slider__desc {
	width: 300px;

	color: #fff;
	line-height: 24px;
	font-weight: 400;
	font-size: 16px;
	font-family: 'MuseoSans-500', sans-serif;
}
.slider__link {
	color: #98b827;
	font-weight: 400;
	font-size: 18px;
	font-family: 'MuseoSans-500', sans-serif;
}
/*---------- section visi ----------*/
.visit {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
	padding: 0 22px;
	width: 1180px;
	height: 80px;
	background-color: #fff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}
.visit-text {
	text-transform: uppercase;

	color: #1c1c1c;
	font-weight: 300;
	font-size: 44px;
	font-family: 'Oswald', sans-serif;
	font-family: 'Oswald', sans-serif;
}
.visit-text span {
	font-weight: 400;
}
.visit-btn {
	min-width: 160px;
	height: 50px;
	text-transform: uppercase;

	font-weight: 400;
	font-size: 16px;
	font-family: 'MuseoSans-500', sans-serif;
	/*padding: 0 px;*/
}
/*---------- section recent ----------*/
.recent {
	margin-bottom: 70px;
	height: 475px;
}
.block-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 28px;
	height: 46px;
}
.title__text {
	text-transform: uppercase;

	color: #1e1e20;
	font-weight: 400;
	font-size: 24px;
	font-family: 'MuseoSans-700', sans-serif;
}
.recent .hr {
	flex: 1;
	margin: 0 8px;
}
.control-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 50px;
	height: 23px;
}
.product-arrow {
	width: 23px;
	height: 23px;

	color: #fff;
	font-size: 9px;
	/*----view----*/
	font-family: 'FontAwesome';
}
/*---------- product-block ----------*/
.product-block {
	display: flex;
	justify-content: space-between;
	height: 100%;
}
.product-item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 280px;
	height: 420px;
	border: 1px solid #efefef;
	border-radius: 5px;
	background-color: #fff;
	/*----view----*/
	box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}
.product-price-add {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
	height: 55px;
	border-bottom: 1px solid #ccc;
}
.price__current {
	color: #000;
	font-weight: 400;
	font-size: 18px;
	font-family: 'MuseoSans-500', sans-serif;
}
.add-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 31px;
	border: 1px solid #807e7e;
	border-radius: 5px;
	background-image: linear-gradient(45deg, #828282 0%, #8b8b8b 50%, #828282 100%);
	text-transform: uppercase;
	/*----view----*/
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);

	color: #fff;
	font-weight: 400;
	font-size: 12px;
	font-family: 'MuseoSans-500', sans-serif;
}
.product-text {
	padding: 18px 15px 0;
	height: 133px;
	border-bottom: 1px solid #ccc;
}
.product__title {
	margin-bottom: 10px;

	color: #282828;
	font-weight: 400;
	font-size: 20px;
	font-family: 'MuseoSans-500', sans-serif;
}
.product__desc {
	color: #808080;
	line-height: 23.98px;
	font-weight: 400;
	font-size: 14px;
	font-family: 'MuseoSans-500', sans-serif;
}
.liew-block {
	display: flex;
	align-items: center;
	padding: 0 18px;
	height: 52px;
}
.liew__link {
	color: #98b827;
	line-height: 23.98px;
	font-weight: 400;
	font-size: 16px;
	font-family: 'MuseoSans-500', sans-serif;
}
.liew__link span {
	font-family: 'FontAwesome';
}
.sale-label {
	position: absolute;
	top: 10px;
	left: 10px;
	display: none;
	width: 57px;
	height: 57px;
	border-radius: 50%;
	background-color: #98b827;
	text-transform: uppercase;
	/*----view----*/
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);

	color: #fff;
	font-weight: 400;
	font-size: 14px;
	font-family: 'MuseoSans-500', sans-serif;
}
.product-item.sale .sale-label {
	display: flex;
	align-items: center;
	justify-content: center;
}
/*---------- section featured ----------*/
.featured {
	margin-bottom: 70px;
	height: 475px;
}
.featured .hr {
	flex: 1;
	margin: 0 8px;
}
/*---------- section brands ----------*/
.brands {
	margin-bottom: 60px;
	height: 132px;
}
.brands .hr {
	flex: 1;
	margin-left: 8px;
}
.brands-block {
	display: flex;
	height: 100%;
}
.brands-item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 237px;
	height: 100%;
	border: 1px solid #dedede;
	background-color: #fff;
}
.brands-item:not(:last-child) {
	border-right: none;
}
/*========== FOOTER ================*/
/*---------- section footer-control ----------*/
.footer {
	padding-top: 47px;
	border-top: 1px solid #ddd;
}
.footer-control {
	display: flex;
	justify-content: space-between;
}
.logo-social {
	display: flex;
	align-items: left;
	flex-direction: column;
	width: 239px;
}
.scale {
	margin-bottom: 30px;
	transform: scale(.75);
	transform-origin: 0 0;
}
.footer-block__title {
	margin-bottom: 20px;

	color: #1e1e20;
	font-weight: 400;
	font-size: 24px;
	font-family: 'MuseoSans-500', sans-serif;
}
/*---------- footer-recent ----------*/
.footer-recent {
	width: 270px;
}

.recent-item {
	display: flex;
	margin-bottom: 16px;
	width: 265px;
	height: 70px;
	border: 1px solid #ddd;
	border-radius: 9px;
	background-color: #fff;
}

.recent-text {
	display: flex;
	align-items: left;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 6px 14px;
}
.recent__title {
	color: #1e1e20;
	font-weight: 400;
	font-size: 16px;
	font-family: 'MuseoSans-500', sans-serif;
}
.recent__desc {
	color: #1e1e20;
	font-weight: 400;
	font-size: 14px;
	font-family: 'MuseoSans-500', sans-serif;
}
.recent__desc span {
	color: #98b827;
}
/*---------- footer-contact ----------*/
.footer-contacts {
	width: 173px;

	color: #1e1e20;
	line-height: 22px;
	font-weight: 400;
	font-size: 14px;
	font-family: 'MuseoSans-500', sans-serif;
}
.footer-contacts-text *:not(:last-child) {
	margin-bottom: 20px;
}
/*---------- footer-people-say ----------*/
.footer-people-say {
	display: flex;
	flex-direction: column;
	padding-bottom: 38px;
	width: 330px;
}
.say-block {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.say-block:not(:last-child) {
	margin-bottom: 22px;
}
.say-block-img {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}
.say__img {
	width: 70px;
	height: 70px;
	border: 3px solid #ddd;
	border-radius: 50%;
}
.say__name {
	text-transform: uppercase;
	letter-spacing: -.14px;

	color: #1e1e20;
	font-weight: 400;
	font-size: 14px;
	font-family: 'MuseoSans-900', sans-serif;
}
.say-text {
	position: relative;
	padding: 13px 40px 0 13px;
	width: 237px;
	height: 95px;
	border: 1px solid #ddd;
	border-radius: 10px;
	background-color: #f6f4f4;
}
.say__desc {
	letter-spacing: -.14px;

	color: #1e1e20;
	font-weight: 400;
	font-size: 14px;
	font-family: 'MuseoSans-500', sans-serif;
}
.say__quotes-ico {
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: block;
}
/*---------- section footer-nav ----------*/
.footer-nav-row {
	height: 40px;
	border-top: 3px solid #98b827;
	background-color: #1b1b1b;
}
.footer-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
.footer-menu {
	display: flex;
}
.footer-menu__item:not(:last-child) {
	margin-right: 13px;
}
.footer-menu__link {
	text-transform: uppercase;
	letter-spacing: -.11px;

	color: #a6a6a6;
	font-weight: 400;
	font-size: 11px;
	font-family: 'MuseoSans-500', sans-serif;
}
.footer-menu__item.active a , .footer-menu__link:hover {
	color: #98b827;
}
.footer-copyright {
	letter-spacing: -.12px;

	color: #a6a6a6;
	font-weight: 400;
	font-size: 12px;
	font-family: 'MuseoSans-500', sans-serif;
}
